doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='../css/login.css' rel='stylesheet')
.loginPage__container
  .mainLogos
    img.peopleLogo(src='./image/semosPerson.png')
    img.wordLogo(src='./image/semosWord.png')
  .loginInputs
    input.loginInputs__email(type='text' placeholder='Email')
    input.loginInputs__password(tyle='text' placeholder='Password')
    h4 비밀번호를 잊으셨나요?
  .loginBtns
    button.loginBtns__kakaoLogin
      a(href='#') 카카오계정으로 로그인
    button.loginBtns__login
      a(href='/') 로그인
.loginPage__container2
  h4 계정이 없으신가요?
  a(href="/register/user")
    h3 개인회원 가입
  a(href="register")
    h3 기업회원 가입
